name: WakaTime Update

on:
  schedule:
    - cron: '0 */4 * * *' # Updates every 12 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          TIME_RANGE: today
          SHOW_TITLE: true
